**.DS_Store
.Rhistory
supporting\ files/strat*
supporting\ files/exceed*
supporting\ files/all_driver*
supporting\ files/summary_hs*
supporting\ files/is.strat*
**omg.huge.output.tsv
WiLMA.Rproj
.Rproj.user
